<ul class="breadcrumb">
  <li><a routerLink="/">Home</a></li>
  <li>&nbsp;&nbsp; > &nbsp;&nbsp;</li>
  <li><a class="active">Categorias</a></li>
</ul>
<br>
<div class="list">
<h2>Listagem</h2>
<button routerLink="new" title="Clique aqui para adicionar uma nova categoria!">Adicionar</button>

  <mat-list role="list">
      <mat-list-item role="listitem">Item 1</mat-list-item>
      <mat-list-item role="listitem">Item 2</mat-list-item>
      <mat-list-item role="listitem">Item 3</mat-list-item>
    </mat-list>
</div>
