<ul class="breadcrumb">
  <li><a routerLink="/">Home</a></li>
  <li>&nbsp;&nbsp;\&nbsp;&nbsp;</li>
  <li><a class="active">Categorias</a></li>
</ul>

<h2>Listagem</h2>

<div class="list">

  <div class="filter">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
    </mat-form-field>
  </div>

<button mat-raised-button color="primary" routerLink="new" title="Clique aqui para adicionar uma nova categoria!">Adicionar</button>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 cat-list">

    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let categoria"> {{categoria.nome}} </td>
    </ng-container>
    <ng-container matColumnDef="registros">
      <th mat-header-cell *matHeaderCellDef> Registros </th>
      <td mat-cell *matCellDef="let categoria"> {{categoria.registros}} </td>
    </ng-container>
    <ng-container matColumnDef="gastosTotais">
      <th mat-header-cell *matHeaderCellDef> Gastos Totais </th>
      <td mat-cell *matCellDef="let categoria"> {{categoria.gastosTotais}} </td>
    </ng-container>
    <ng-container matColumnDef="porcentagem">
      <th mat-header-cell *matHeaderCellDef>  Representativiade do Orçamento </th>
      <td mat-cell *matCellDef="let categoria"> {{categoria.porcentagem}} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>  Ações </th>
        <td mat-cell *matCellDef="let categoria"> {{categoria.actions}} </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

<hr>

    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Gastos totais no último mês
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p class="inner-box">Total: <strong>R$ 30.984,00</strong></p>
      </mat-expansion-panel>
    </mat-accordion>

<div class="last-breath"></div>



</div>
