.breadcrumb
  list-style-type: none
  height: 30px
  margin: 0
  padding: 0
  position: relative
  top: 1rem
  li
    display: inline

.list
  margin: 0px 50px 0 0px
  button
    float: right
    position: relative
    top: -50px
    right: 26px
    width: 100px
    height: 35px
    border-radius: 4px
