.content
  .top-content
    width: 100%
    display: block
    background: LightSteelBlue
    height: 60px
    position: relative
    .logo
      position: relative
      text-align: left
      span
        position: relative
        top: 20px
        left: 2rem
        font-family: 'Fredoka One', cursive
        letter-spacing: 3px
        font-weight: bold
        font-size: 20px
        color: DarkSlateBlue
        a
          color: DimGray
          font-family: Roboto
    nav
      float: right
      right: 2rem
      position: relative
      top: -14px

  .wrap-content
    background: #EEE
    display: block
    position: relative
    width: 100%
    .breath
      position: relative
      width: 95%
      margin: 0 auto

