<div class="content">

  <div class="lcontent">
    <div class="logo">
      <span>Payn Financial</span>

    </div>
      <nav>
          <ul>
            <li><a routerLink="/reports" routerLinkActive="active"></a>Relatórios</li>
            <li><a routerLink="/entries" routerLinkActive="active"></a>Gastos</li>
          </ul>
          <ul>
            <li><a routerLink="/cat" routerLinkActive="active">Categorias</a></li>
            <li><a routerLink="/cat/111/edit"routerLinkActive="active">Adicionar Categoria</a></li>
          </ul>
        </nav>
  </div>

  <div class="rcontent">
      <router-outlet></router-outlet>
  </div>


</div>
