.content
  border: 1px solid blue
  .logo
    text-align: center
    height: 90px
    background: #EEE
    span
      position: relative
      top: 36px

  .lcontent
    border: 1px solid blue
    width: 15%
    float: left
  .rcontent
    border: 1px solid blue
    float: right
    width: 84%
