<div class="content">
  <div class="top-content">
    <div class="logo">
      <span>Payn Financial</span>
    </div>
      <nav>
              <button
              [matMenuTriggerFor]="menu"
              type="button"
              aria-label="Toggle sidenav"
              mat-icon-button
              *ngIf="true">
              <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
              <mat-menu #menu="matMenu">
                  <button mat-menu-item routerLink="/reports" routerLinkActive="active">Relatórios</button>
                  <button mat-menu-item routerLink="/entries" routerLinkActive="active">Gastos</button>
                <button mat-menu-item routerLink='cat'[matMenuTriggerFor]="menuCategorias">Categorias</button>
              </mat-menu>
              <mat-menu #menuCategorias="matMenu">
                  <button mat-menu-item routerLink='cat'>Lista</button>
                  <button mat-menu-item routerLink='cat/new'>Adicionar</button>
                </mat-menu>
        </nav>
  </div>

  <div class="wrap-content">
    <div class="breath">
      <router-outlet></router-outlet>
    </div>
  </div>


</div>
